.bg-primary-dark {
  background-color: #FF3234;
}

.header a {
  color: #fff;
}

.bg-second {
  background-color: #0D6D8D
}

.header {
  height: 50px;
}

.vmiddle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.header-btn {
  background: rgba(255,255,255,.3) 100%;
  padding: 7px 12px;
  margin-right: 10px;
  border-radius: 4px;
}

.header-btn-txt {
  margin-left: 5px;
  color: #fff;
}

.profile-img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border-radius: 5px;
}

.list-wrapper {
  border-radius: 10px;
  background-color: #C7BA9F;
}

.list-header {
  font-size: 2em;
  padding: 5px 0 45px 0;
}

.list-card {
  border-radius: 5px;
  background-color: #EFE6D8;
  margin: 0 0 10px 0;
  padding: 10px 0;
}

.list-card-title {
  margin-bottom: 10px;
}

.badges span {
  margin-right: 5px;
}
