.bg-primary-dark {
  background-color: #143758;
}

.bg-second {
  background-color: #0D6D8D
}

.header {
  height: 50px;
}

.vmiddle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.header-btn {
  background: rgba(255,255,255,.2) 100%;
  padding: 7px 12px;
  margin-right: 10px;
  border-radius: 4px;
}

.header-btn-txt {
  margin-left: 5px;
}

.header-search-input {
  background-color: rgba(255,255,255,.3);
  border-radius: 3px;
  border: none;
  color: rgba(255,255,255,.5);
  float: left;
  font-size: 13px;
  height: 30px;
  margin: 0;
  min-height: 30px;
  padding-right: 30px;
  padding-left: 8px;
  line-height: 19px;
  -webkit-transition: width 150ms;
  transition: width 150ms;
  width: 180px;
  z-index: 1;
}
